<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Imperial+Script&family=Major+Mono+Display&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar nbackground">
        <ul class="nav-list">
            <div class="logo"><img src="/static/images/f.png" alt="logo"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Services</a></li>
        </ul>
        <nav class="right-nav" background-color: aqua;><input type="text" name='search' id='search'>
            <button class="btn btn-sm">Search</button>
        </nav>
    </nav>
    <section class=" background firstSection ">
        <div class="box-main">
            <div class="firstHalf">
                <p class="text-big">An Eye For Faishon</p>
                <p class="text-small">Developing a sense of personal style, however, is like cultivating any other interest; it's all about exposure. Appreciate it as a creative outlet, and for it being a craft that incorporates elements of architecture, and an understanding of materials, and art.</p>
                 <div class="button"><button class="btn">vote now</button>
                    <button class="btn">see list</button></div>
            </div>
            <div class="secondHalf">
              <p></p>
              
            </div>
        </div>
    </section>
 
</body>

</html>