
* {
    text-align: center;
    padding: 0;
    margin: 0;

}
body{
    background: rgb(0, 0, 0, 0.7) url('kati.jpg');
    background-size: cover;
    background-blend-mode: darken; 
 }
.nav{
   
    width: 50%;
    padding: 10px;
}
.firstSection{
    height: 100vh;
}
.firstHalf{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box-main{
    display: flex;
    justify-content: flex-start;
    color: white;
    
    max-width: 50%;
    margin: auto;
    height: 80%;

}
